.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__delete-button {
  border: none;
  padding: 0.65em 1.2em;
  background-color: #ed6a5a;
  font-weight: 600;
  color: #fdfdff;
  cursor: pointer;
}

.task__delete-button:hover {
  background-color: #d33f49;
}
