.button {
  --button-text-color: var(--light-primary);
  --button-text-color-hover: var(--light-primary);
  --button-bg-color: var(--purple);
  --button-bg-color-hover: var(--dark-purple);

  border: none;
  padding: 0.65em 1.2em;
  background-color: var(--button-bg-color);
  font-weight: bold;
  color: var(--button-text-color);
  cursor: pointer;
  min-width: 6em;

  transition-property: background-color, color;
  transition-duration: 0.25s;
  will-change: background-color, color;
}

.button:hover {
  background-color: var(--button-bg-color-hover);
  color: var(--button-text-color-hover);
}

.button--variant-delete {
  --button-text-color: var(--orange);
  --button-text-color-hover: var(--light-primary);
  --button-bg-color: transparent;
  --button-bg-color-hover: var(--red);
}

.button--disabled-true {
  opacity: 0.45;
  cursor: progress;
}
