.addtodoform {
  display: flex;
  flex-direction: column;
  gap: 0.65em;
}

.addtodoform__inputlabel {
  text-align: start;
  font-weight: bold;
}

.addtodoform__inputfield {
  display: flex;
  gap: 1.1em;
  flex: 1;
}

.addtodoform__inputfield-input {
  flex: 1;
  border: 1px solid #969696;
  border-radius: 0;
}
