.addtodoform {
  display: flex;
  flex-direction: column;
  gap: 0.65em;
}

.addtodoform__inputlabel {
  text-align: start;
  font-weight: bold;
}

.addtodoform__inputfield {
  display: flex;
  gap: 1.1em;
  flex: 1;
}

.addtodoform__inputfield-input {
  flex: 1;
  border: 1px solid #969696;
  border-radius: 0;
}

.addtodoform__inputfield-button {
  border: none;
  padding: 0.65em 1.2em;
  background-color: #9893da;
  font-weight: 600;
  color: #fdfdff;
  cursor: pointer;
}

.addtodoform__inputfield-button:hover {
  background-color: #6e67cb;
}
