:root {
  --light-primary: #fdfdff;
  --dark-primary: #393d3f;

  --purple: #9893da;
  --dark-purple: #6e67cb;
  --orange: #ed6a5a;
  --red: #d33f49;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--light-primary);
  color: var(--dark-primary);
}
